@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--background-color: rgb(240, 240, 240);
	--text-color: rgb(51, 51, 51);
	--primary-color: rgb(0, 51, 102);
	--secondary-color: rgb(173, 198, 224);
	--highlight-color: rgb(0, 153, 204);
	--aside-width: 230px;
}

html,
body {
	min-height: 100dvh;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
	display: flex;
}

aside {
	background-color: var(--primary-color);
	width: var(--aside-width);
	overflow: hidden;
	transition: width 0.5s ease;
}

.logo {
	height: 120px;
	background-color: #fff;
	margin-bottom: 10px;
}

.logo img {
	height: 100%;
	display: block;
	margin: 0 auto;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.menu li {
	padding: 10px;
}

.menu li:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.menu li a {
	color: #fff;
	white-space: nowrap;
}

main {
	width: calc(100% - var(--aside-width));
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 15px;
	transition: width 0.5s ease;
}

.menu-active {
	background-color: rgba(255, 255, 255, 0.1);
}

#menu-button {
	position: absolute;
	background-color: var(--primary-color);
	color: #fff;
	height: 30px;
	width: 30px;
	border-radius: 0px 10px 10px 0;
	left: 0px;
	top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: left 0.5s ease;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

h2 {
	color: var(--primary-color);
	text-align: center;
	font-size: 2rem;
	margin-bottom: 10px;
}

.hidden {
	display: none;
	visibility: hidden;
}

@media (max-width: 1200px) {
	:root {
		--aside-width: 0px;
	}

	body {
		position: relative;
	}

	aside {
		position: absolute;
		z-index: 10;
		height: 100dvh;
	}

	main {
		width: 100%;
	}

	#menu-button {
		left: var(--aside-width);
		z-index: 10;
	}
}
